fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
requests
psycopg2-binary
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
